:root {
    --main-color: #000000;
    --detail-color: #161718;
    --accent-color: #c23608;
    --hower-color: #fefefe;
}
*{
    box-sizing: border-box;
}
body {
    background-color: var(--main-color);
    color: var(--accent-color);
    overflow: hidden;
    font-family: monospace;
}
.head{
    margin: auto;
    padding: 30px 90px 0px;
    display: flex;
}
.head-c{
    background-color: var(--detail-color);
    margin: auto;
    min-width: 600px;
    max-width: 80%;
    display: flex;
    justify-content: space-between
}
.title-of-page{
    text-decoration: none;
    padding-left: 40px;
    max-width: 404px;
}
.nav{
    list-style: none;
    padding-left: 90px;
    padding-right: 40px;
}
.nav-item{
    display: inline-block;

}
.nav-item-link{
    text-decoration: none;
}
.nav-item-link:hover{
    color: var(--hower-color);
}
.nav-item-link:active{
    color: var(--detail-color);
    background-color: var(--hower-color);
}
.text-red{
    color: var(--accent-color);
}

.about{
    margin: auto;
    padding: 30px 90px 30px;
}
.about-c{
    background-color: var(--detail-color);
    margin: auto;
    min-width: 600px;
    max-width: 80%;
    justify-content: space-between;
    
    border: 2px solid var(--accent-color);
    border-top: 16px solid var(--accent-color);
}

.about-c h1{
    padding: 40px 40px;
    text-transform: uppercase;
}
.about-text{
    padding: 0px 40px 40px;
}




.typing-line {
    position: absolute;
    white-space: nowrap;
    opacity: 0.8;
    animation: fadeOut 10s linear forwards;
}
@keyframes fadeOut {
    from {opacity: .2;}
    to {opacity: 0;}
}